<ion-view title="Employer Sign Up">
  <ion-nav-buttons side="left">
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
  </ion-nav-buttons>

  <ion-content class="padding">
    <form ng-submit="employerSignUp()" class="list">
      <label class="item item-input">
        <input type="text" placeholder="Email" ng-model="employerEmail" required>
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="employerPassword" required>
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Company name" ng-model="employerName" required>
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Company Description" ng-model="employerDescription" required>
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Industry" ng-model="employerIndustry" required>
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Website" ng-model="employerWebsite" required>
      </label>
      <button id="employerSignUpSubmit" type="submit" class="button button-positive button-block" ui-sref="home">Sign up</button>
    </form>
  </ion-content>
</ion-view>
