<ion-view title="Home">
  <ion-nav-buttons side="left">
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
  </ion-nav-buttons>

  <ion-content>
    <button id="signIn" class="button button-block button-positive padding" ui-sref="#">Sign In</button>
    <button id="employerSignUp" class="button button-block button-positive padding" ui-sref="employerSignUp">Sign up as an Employer</button>
    <button id="jobseekerSignUp" class="button button-block button-positive padding" ui-sref="jobseekerSignUp">Sign up as a Jobseeker</button>
  </ion-content>
</ion-view>
