<ion-view title="seekr">
  <ion-nav-buttons side="left">
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
  </ion-nav-buttons>

  <ion-content>
    <button id="employerSignIn" class="button button-clear button-assertive padding" ui-sref="employerSignIn">Employer sign in</button></br>
    <button id="employerSignUp" class="button button-clear button-assertive padding" ui-sref="#">Employer sign up</button></br>
    <button id="jobseekerSignIn" class="button button-clear button-positive padding" ui-sref="jobseekerSignIn">Jobseeker sign in</button></br>
    <button id="jobseekerSignUp" class="button button-clear button-positive padding" ui-sref="#">Jobseeker sign up</button></br>
  </ion-content>
</ion-view>
