<ion-view title="Home">
  <ion-nav-buttons side="left">
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
  </ion-nav-buttons>

  <ion-content>
    <button id="employerSignIn" class="button button-block button-positive padding" ui-sref="employerSignIn">Sign in as an Employer</button>
    <button id="jobseekerSignIn" class="button button-block button-positive padding" ui-sref="jobseekerSignIn">Sign in as a Jobseeker</button>
    <button id="employerSignUp" class="button button-block button-positive padding" ui-sref="#">Sign Up as an Employer</button>
    <button id="jobseekerSignUp" class="button button-block button-positive padding" ui-sref="#">Sign Up as a Jobseeker</button>
  </ion-content>
</ion-view>
