<ion-view title="Candidates" scroll="false">
  <ion-pane ng-controller="jobCandidatesCtrl">
    <td-cards>
      <td-card id="td-card" ng-repeat="jobseeker in jobseekers" on-destroy="cardDestroyed()" on-swipe-left="reject(jobseeker.id)" on-swipe-right="offer(jobseeker.id)" on-partial-swipe="cardPartialSwipe(amt)">
        <div class="title item">
          <span class="jobseeker-name"><b>{{jobseeker.name}}</b></span>
          <span class="jobseeker-location">{{jobseeker.location}}</span>
        </div>

        <div class="item jobseeker-bio">
          <span class="">{{ jobseeker.bio }}</span>
        </div>
        <div class="image item">
          <div class="no-text overlayBox">
            <div class="noBox boxed">Reject</div>
          </div>
          <img ng-src="{{jobseeker.imageURL}}">
          <div class="yes-text overlayBox">
            <div class="yesBox boxed" id="centerMe">Offer</div>
          </div>
        </div>
      </td-card>
    </td-cards>
  </ion-pane>
</ion-view>
