<ion-view title="Candidates">
  <ion-pane ng-controller="jobCandidatesCtrl">
    <td-cards>
      <td-card id="td-card" ng-repeat="jobseeker in jobseekers | filter:jobInfo.requiredSkills:jobseeker.PrimarySkill" on-destroy="cardDestroyed()" on-swipe-left="cardSwipedLeft(jobseeker.id)" on-swipe-right="cardSwipedRight(jobseeker.id)" on-partial-swipe="cardPartialSwipe(amt)">
        <div class="title">
          {{jobseeker.name}}
          {{jobseeker.email}}
          {{jobseeker.location}}
          {{jobseeker.skill}}
        </div>
        <div class="image">
          <div class="no-text overlayBox">
            <div class="noBox boxed">Reject</div>
          </div>
          <img ng-src="{{jobseeker.imageURL}}">
          <div class="yes-text overlayBox">
            <div class="yesBox boxed" id="centerMe">Keep</div>
          </div>
        </div>
        <button id="offerJob" ng-click="offer(jobseeker.id)" type="submit" class="button button-positive button-block">Offer</button>
      </td-card>
    </td-cards>
  </ion-pane>
</ion-view>
