<ion-view title="More Info" ng-controller="jobInfoCtrl">
  <ion-content >
    <ion-list>
      <ion-item>

        <h1>{{ jobInfo.title }}</h1>
        <b><i>{{ jobInfo.description}}</i></b>
        <p><b>Location:</b> {{ jobInfo.location }}</p>
        <p><b>Start Date:</b> {{ jobInfo.start_date | date:"EEE dd/MM/yyyy" }} for {{ jobInfo.duration }}</p>
        <p><b>Hours:</b> {{ jobInfo.hours }}</p>
        <p><b>Wage:</b> {{ jobInfo.wage | currency:"£" }}</p>
        <p><b>Required Skills:</b> {{ jobInfo.requiredSkills }}</p>

        <a id="viewCandidates" class="button button-clear button-assertive padding" ui-sref="jobInfo.candidates">view candidates</a>

        <div ui-view></div>

</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
