<ion-view title="Job Offers" hide-back-button="true" ng-controller="jobOfferCtrl">

  <ion-nav-buttons side="secondary">
    <button class="button button-clear button-positive" ui-sref="home">
      sign out
    </button>
  </ion-nav-buttons>

  <ion-content overflow-scroll="true" has-bouncing="true">
    <ion-list>
<ion-item ng-repeat="jobOffer in jobOffers">
        <div class="list card">

          <a class="item item-avatar" href>
            <img ng-src="{{ jobOffer.imageURL }}">
            <h2>{{jobOffer.title}}</h2>
            <p>{{jobOffer.description}}</p>
          </a>
          <button class="item item-image" ng-click="mapToggle()" >
            <img ng-src="{{ jobOffer.locationmap }}">
            <div>
              <p>Wage: £{{ jobOffer.wage }}/hr</p>
              <p>Hours: {{ jobOffer.hours }}/week</p>
              <p>Start Date: {{ jobOffer.start_date | date:"EEE dd/MM/yyyy" }} for {{ jobOffer.duration }}</p>
              <p>Contact: {{ jobOffer.contactName }} at {{ jobOffer.contactEmail }}</p>
            </div>

          </button>

        </div>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>
