<ion-view title="Jobs" hide-back-button="true">

  <ion-nav-buttons side="secondary">
    <button class="button button-clear button-assertive" ui-sref="home">
      sign out
    </button>
  </ion-nav-buttons>

  <ion-content overflow-scroll="true" has-bouncing="true">
    <ion-list>
      <button id="addJob" class="button button-block button-assertive padding" ui-sref="newJob">Add New Job</button>
      <ion-item ng-repeat="job in jobs">
        <div class="list card">

          <a class="item item-avatar" ui-sref="jobInfo({id: {{ job.id }} })">
            <img ng-src="{{ job.imageURL }}">
            <h2>{{job.title}}</h2>
            <p>{{job.description}}</p>
          </a>
          <!-- <div class="item item-image">                  mabye location here
            <img src="cover.jpg">
          </div> -->

        </div>
      </ion-item>
    </ion-list>
  </ion-content>





</ion-view>
