<ion-view title="Jobseeker Sign Up">
  <ion-nav-buttons side="left">
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
  </ion-nav-buttons>

  <ion-content class="padding">
    <form ng-submit="jobseekerSignUp()" class="list" ng-controller="signUpCtrl">
      <label class="item item-input">
        <input type="text" placeholder="Name" ng-model="jobseekerName" required>
      </label>
      <label class="item item-input">
        <input type="email" placeholder="Email" ng-model="jobseekerEmail" required>
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="jobseekerPassword" required>
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Location" ng-model="jobseekerLocation" required>
      </label>

      <button id="jobseekerSignUP" type="submit" class="button button-positive button-block">Sign Up as a Jobseeker</button>
    </form>
  </ion-content>
</ion-view>
