<ion-view title="Jobs" hide-back-button="true">

  <!-- <ion-content class="padding">
    <button id="addJob" class="button button-block button-positive" ui-sref="newJob">Add New Job</button>
  </ion-content> -->

  <ion-content overflow-scroll="true" has-bouncing="true">
    <ion-list>
        <button id="addJob" class="button button-block button-positive padding" ui-sref="newJob">Add New Job</button>
      <ion-item ng-repeat="job in jobs">
        <div class="list card">

          <div class="item item-avatar">
            <!-- <img ng-src="{{ company.avatar }}">          put company logo here -->
            <h2>{{job.title}}</h2>
            <p>{{job.description}}</p>
          </div>
          <!-- <div class="item item-image">                  mabye location here
            <img src="cover.jpg">
          </div> -->
          <a class="item item-icon-left assertive" href="#">
            <p>{{ job.start_date }}</p>
            <p>{{ job.wage | currency }}/hour</p>
          </a>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>





</ion-view>
