<ion-view title="Jobseeker Sign In">
  <ion-nav-buttons side="left">
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
  </ion-nav-buttons>

  <ion-content class="padding">
    <form ng-submit="jobseekerSignIn()" class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="example@seekr.com" ng-model="jobseekerEmail" >
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="*****" ng-model="jobseekerPassword" >
      </label>
      <button id="jobseekerSignInSubmit" type="submit" class="button button-positive button-clear" ui-sref="jobOffers({id: 2})">sign in</button>
    </form>
  </ion-content>
</ion-view>
