<ion-view title="New Job">
  <ion-nav-buttons side="left">
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
  </ion-nav-buttons>

  <ion-content class="padding">
    <form ng-submit="newJob()" class="list" ng-controller="jobsCtrl">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Job Title</span>
        <input type="text" placeholder="Van Driver" ng-model="jobTitle" required>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Job Description</span>
        <textarea placeholder="Multi-drop deliveries of stationery" ng-model="jobDescription" required></textarea>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Start Date</span>
        <input type="text" placeholder="dd/mm/yyyy" ng-model="startDate" required>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Duration</span>
        <input type="text" placeholder="1 week" ng-model="duration" required>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Hours/week</span>
        <input type="text" placeholder="39" ng-model="hours" required>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Location</span>
        <input type="text" placeholder="SE London" ng-model="location" required>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Wage/hour</span>
        <input type="text" placeholder="£8.50" ng-model="wage" required>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Required Skills</span>
        <input type="text" placeholder="Driving Customer Service" ng-model="requiredSkills" required>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Contact Name</span>
        <input type="text" placeholder="John Smith" ng-model="contactName" required>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Contact Email</span>
        <input type="text" placeholder="john@example.com" ng-model="contactEmail" required>
      </label>

      <button id="addJobSubmit" type="submit" class="button button-assertive button-block">Add Job</button>
    </form>

  </ion-content>
</ion-view>
