<ion-view title="newJob">
  <ion-nav-buttons side="left">
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
  </ion-nav-buttons>

  <ion-content class="padding">
    <form ng-submit="newJob()" class="list" ng-controller="jobsCtrl">
      <label class="item item-input">
        <input type="text" placeholder="Job Title" ng-model="jobTitle">
      </label>
      <label class="item item-input">
        <textarea placeholder="Job Description" ng-model="jobDescription"></textarea>
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Start Date" ng-model="startDate">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Duration" ng-model="duration">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Hours" ng-model="hours">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Location" ng-model="location">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Wage" ng-model="wage">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Required Skills" ng-model="requiredSkills">
      </label>
      <button id="addJobSubmit" type="submit" class="button button-positive button-block">Add Job</button>
    </form>

  </ion-content>
</ion-view>
