<ion-view title="newJob">
  <ion-nav-buttons side="left">
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
  </ion-nav-buttons>

  <ion-content class="padding">
    <form ng-submit="newJob()" class="list">
      <label class="item item-input">
        <input type="text" placeholder="Job Title" id="jobTitle">
      </label>
      <label class="item item-input">
        <textarea placeholder="Job Description" id="jobDescription"></textarea>
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Start Date" id="startDate">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="End Date" id="endDate">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Location" id="location">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Wage" id="wage">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Required Skills" id="requiredSkills">
      </label>
      <button type="submit" id="submit" class="button button-positive button-block">Add Job</button>
    </form>


  </ion-content>
</ion-view>
